# Database
DB_DRIVER=sqlite
DB_DATABASE=/absolute/path/to/canary/database/database.sqlite

# Worker
WORKER_INTERVAL=300

# Telegram
TG_BOT_TOKEN=1234567890:ABCdefGHIjklmNOPqrstUVwxyz
TG_CHAT_ID=123456789

# Logging
LOG_LEVEL=info
LOG_FILE=/absolute/path/to/canary/logs/worker.log
